:root{
    --bg-black : #2c2c2c;
    --nav-width : 100px;
    --bg-white : #fff;
    --border-radius-5 : 5px
}

.html{font-size:62.5%;}
.wrap{width:100vw;height:100vh;overflow:hidden;background:#F3F2F6;}
.wrap_in{width:100%;height:100%;display:flex;justify-content:space-between;}

.nav{width:var(--nav-width);height:100%;overflow:hidden;background:var(--bg-black);color:var(--bg-white)}
.logo{width:100%;height:50px;line-height:50px;display:flex;justify-content:start;}
.nav_menu{width:100%;height:calc(100% - 50px - 50px)}
.nav_setting{width:100%;height:50px;line-height:50px;}

.content{width:calc(100% - var(--nav-width));height:100%;display:flex;justify-content: space-between;flex-direction:column;}
.content_title{width:100%;height:50px;line-height:50px;background:var(--bg-white);padding:0 10px;box-sizing:border-box;}
.content_sub_title{width:100%;height:auto;line-height:30px;font-weight:bold;border-bottom:1px solid #F3F2F6;margin:0 0 10px 0;padding:0 0 10px 0;box-sizing:border-box}
.content_sub_title.flex{display:flex;justify-content:space-between;}
.content_sub_title.flex.center{justify-content:center;}
.content_sub_title.flex .left_title{width:calc(100% - 30px)}
.content_sub_title.flex .right_icon{width:30px}
.content_in{width:100%;height:calc(100% - 50px);display:flex;justify-content:space-between;padding:10px;box-sizing:border-box}

.cal{width:80%}
#calendar{width:100%;height:100%;padding:10px;box-sizing:border-box;background:var(--bg-white);border-radius:var(--border-radius-5);}

.routine{width:calc(20% - 10px);height:100%;display:flex;justify-content:flex-start;flex-direction:column;}
.routine_in{width:100%;height:auto;background:var(--bg-white);border-radius:var(--border-radius-5);padding:10px;box-sizing:border-box}
.routine_in.routine_add{height:210px;margin:0 0 10px 0}
.routine_in .content_sub_title{margin:0 0 5px 0}
.routine_in .content_sub_title .right_icon{text-align:center;}
.routine_in * {display:inline-block;width:100%}
.routine_in .title {margin:5px 0 0 0;font-size:14px;}
.routine_in .input {box-sizing:border-box;margin:5px 0 0 0;height:30px;line-height:30px;}
.routine_in.routine_list{height:calc(100% - 210px);overflow:hidden;}
.routine_list .content_sub_title a{display:inline-block;width:auto;border-radius:5px;padding:0 10px;background:#eee;}
.routine_list .content_sub_title a.center{margin:0 10px}
.routine_list .routine_list_box{height:calc(100% - 40px);overflow-y:auto;}
.rlb{display:flex;justify-content:flex-start;align-items:center;width:100%;height:30px;line-height:30px}
.rlb input{width:20px;height:20px;vertical-align:middle;}
.rlb_name{width:calc(100% - 30px)}
